<a href="https://colab.research.google.com/github/Mansha-Ajmani/dominoes_menu/blob/master/tut1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# sol 1
print("Twinkle, twinkle little star,\nHow I wonder what you are!\nUp above the world so high,\nLike a diamond in the sky.\nTwinkle, twinkle little star,\nHow I wonder what you are.")

Twinkle, twinkle little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle little star,
How I wonder what you are.

In [ ]:
# sol 2
first=input("enter your first name:")
last= input("enter your last name:")
print(last+" "+first)

enter your first name:mansha
enter your last name:ajmani
ajmani mansha

In [ ]:
# sol 3
import math
r=int(input("enter radius;"))
area=math.pi*r*r
print(area)

enter radius;7
153.93804002589985

In [ ]:
# sol 4
color_list = ["Red","Green","White" ,"Black"]
print("first color in the list is:",color_list[0])
print("last color in the list is:",color_list[3])

first color in the list is: Red
last color in the list is: Black

In [ ]:
# sol 5
n=int(input("enter a no:"))
nn=n*n
nnn=nn*n
print("n+nn+nnn=",n+nn+nnn)

enter a no:5
n+nn+nnn= 155

In [ ]:
# sol 6
seq=input("enter a seq of characters:")
x=seq.split(',')
print("given seq can be written in the form of list as:",list(x))
print("given seq can be written in the form of tuple as:",tuple(x))

enter a seq of characters:5,7,10,123
given seq can be written in the form of list as: ['5', '7', '10', '123']
given seq can be written in the form of tuple as: ('5', '7', '10', '123')

In [ ]:
# sol 7
cel=float(input("enter temp in celcius:"))
fah=(cel*(9/5))+32
print("this temp in fahr will be:",fah)

enter temp in celcius:35
this temp in fahr will be: 95.0

In [ ]:
# sol 8
n=int(input("enter 1st no:"))
m=int(input("enter 2nd no:"))
x=n
n=m
print("after swapping 1st no. is:",n,"and 2nd no. is:",x)
print("on adding incrementally in 1st var we get:",x+1)

enter 1st no:5
enter 2nd no:10
after swapping 1st no. is: 10 and 2nd no. is: 5
on adding incrementally in 1st var we get: 6

In [ ]:
# sol 9
n=int(input("enter a no:"))
if n%2==0:
    print("given no. is even")
else:
    print("given no. is odd")

enter a no:7
given no. is odd

In [ ]:
# sol 10
yr=int(input("enter any year:"))
if yr%4==0:
  print("leap year")
else:
  print("not a leap year")

enter any year:2024
leap year

In [ ]:
# sol 11
import math
x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))
distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
print("The Euclidean distance between the points is:", distance)

Enter x1: 5
Enter y1: 2
Enter x2: 10
Enter y2: 4
The Euclidean distance between the points is: 5.385164807134504

In [ ]:
# sol 12
x=float(input("enter 1st angle:"))
y=float(input("enter 2nd angle:"))
z=float(input("enter 3rd angle:"))
if x+y+z==180:
  print("triangle is possible")
else:
  print("triangle is not possible")

enter 1st angle:120
enter 2nd angle:30
enter 3rd angle:40
triangle is not possible

In [ ]:
# sol 13
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the annual interest rate (in %): "))
time = float(input("Enter the time in years: "))
n = int(input("Enter the number of times interest is compounded per year: "))
amount = principal * (1 + rate / (100 * n)) ** (n * time)
print("compound interest=",amount-principal)
print("total amount=",amount)

Enter the principal amount: 10000
Enter the annual interest rate (in %): 7
Enter the time in years: 10
Enter the number of times interest is compounded per year: 2
compound interest= 9897.88863465843
total amount= 19897.88863465843

In [ ]:
# sol 14
N=int(input("enter a no:"))
if N > 1:
    for i in range(2, N):
        if N % i == 0:
            print(N, "is NOT a Prime Number")
            break
    else:
        print(N, "is a Prime Number")
else:
    print(N, "is NOT a Prime Number")

enter a no:7
7 is a Prime Number

In [ ]:
# sol 15
n=int(input("enter a no:"))
sq=0
for i in range(1,n+1):
  sq+=i**2
print("sum of sqs of all the nos till n is:",sq)

enter a no:5
ssum of sqs of all the nos till n is: 55